{
  "extends": "eslint:recommended",
  "env": {
      "jest": true,
      "browser": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "semi": [2, "never"],
    "brace-style": [2, "stroustrup"],
    "object-curly-spacing": ["error", "always"],
    "arrow-parens": [2, "always"],
    "no-console": ["error", { "allow": ["debug", "warn", "error", "log"]}],
    "camelcase": [0, {"properties":"never", "ignoreDestructuring": true} ],
    "padding-line-between-statements":[
      "error",
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
      { "blankLine": "any",    "prev": ["const", "let", "var"], "next": ["const", "let", "var"]},
      { "blankLine": "always", "prev": "*", "next": "return" }
    ]
  },
  "plugins": [
    "import"
  ],
  "settings": {
    "import/resolver": {
      "webpack": { "config": "./webpack.common.js" }
    }
  }
}