body {
  background-color: red;
}

#wrapper {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#cssImage {
  width: 400px;
  height: 200px;
  background-image: url('./assets/images/sprites/game-image-3.png');
}